<a href="https://colab.research.google.com/github/HLTT14/social-media-sentiment-analysis-for-stocks/blob/main/social_media_sentiment_analysis_for_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Social Meida Sentiment Analysis for Stocks**

# Initialization

In [95]:
import pandas as pd
import numpy as np
import codecs

In [2]:
!git clone https://github.com/HLTT14/social-media-sentiment-analysis-for-stocks.git

Cloning into 'social-media-sentiment-analysis-for-stocks'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 18 (delta 5), reused 13 (delta 2), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [ ]:
!unzip -o -q /content/social-media-sentiment-analysis-for-stocks/data.zip

In [ ]:
tweets_df = pd.read_csv('/content/tweets_2.csv')
tweets_df.head()

                                             content
0  #پلاسک #پلوله #پدرخش دوستان این کاناله توی نلگ...
1  این سهم نفرین شده انگار . این که میگیم روی هدف...
2                                       #شاخص_بورس t
3        #غشهداب هفته ی دیگه رفتیم واسه فتح 700تومان
4  #تاپیکو\n16 مرداد ریزش بازار پیش بینی کردم. 21...

In [ ]:
stocks_df = pd.read_csv('/content/stocks.csv')
stocks_df.head()

     name
0     کلر
1  بمیلاح
2  وتوسمح
3    شستا
4    غدشت

In [ ]:
#datalist=list(tweets_df)
postlist = tweets_df.values.tolist()
stcoklist_main = stocks_df.values.tolist()
stcoklist=[]
us = {}
for i in range(len(stcoklist_main)):
  stcoklist.append(stcoklist_main[i][0])
stcoklist = list(set(stcoklist))
for i in range(len(stcoklist)):
  us[stcoklist[i]]=0

fulldata=[];cs=[]
for i in range(0,len(postlist)): #range(len(postlist)):
  words = str(postlist[i]).split(' ')
  ut = 0;
  for w in words:
    if w in stcoklist:
      ut += 1
  select_word=''
  if ut == 1:
    for w in words:
      if w!='ما' and w!='فردا':
        if w in stcoklist and us[w]!=5:
          us[w]= us[w] + 1
          select_word = w;
          cs.append(w);
          break;
    if select_word!='':
      fulldata.append((postlist[i][0],select_word))

In [ ]:
#datalist=list(tweets_df)
postlist = tweets_df.values.tolist()
stcoklist_main = stocks_df.values.tolist()
stcoklist=[]
us = {}
for i in range(len(stcoklist_main)):
  stcoklist.append(stcoklist_main[i][0])
stcoklist = list(set(stcoklist))
for i in range(len(stcoklist)):
  us[stcoklist[i]]=0

fulldata=[];cs=[]
for i in range(0,len(postlist)): #range(len(postlist)):
  words = str(postlist[i]).split(' ')
  ut = 0;
  for w in words:
    if w in stcoklist:
      ut += 1
  select_word=''
  if ut == 1:
    for w in words:
      if w!='ما' and w!='فردا':
        if w in stcoklist: #and us[w]!=5:
          us[w]= us[w] + 1

In [ ]:
bn=[];cn=[];dn=[]
for i in stcoklist:
  if us[i]>=20:
    bn.append(i)
    cn.append(us[i])
    dn.append((i,us[i]))

In [ ]:
sorted_list = sorted(dn, key=lambda x:x[1],reverse=True)

In [ ]:
sorted_list

[('بورس', 1935),
 ('دی', 736),
 ('ارزش', 663),
 ('امید', 570),
 ('خودرو', 476),
 ('ملت', 442),
 ('شستا', 437),
 ('شپنا', 372),
 ('برکت', 321),
 ('پالایش', 320),
 ('تصمیم', 260),
 ('فولاد', 212),
 ('کاما', 180),
 ('همراه', 174),
 ('اپال', 166),
 ('اعتماد', 164),
 ('اساس', 163),
 ('پرداخت', 142),
 ('اینده', 137),
 ('مدیر', 133),
 ('ثشاهد', 119),
 ('پترول', 118),
 ('فملی', 118),
 ('نوری', 117),
 ('دارا', 113),
 ('پتایر', 109),
 ('انتخاب', 107),
 ('کدما', 105),
 ('تجارت', 105),
 ('مدیریت', 102),
 ('وتجارت', 101),
 ('فریم', 99),
 ('تلیسه', 95),
 ('فارس', 87),
 ('صبا', 85),
 ('دانا', 84),
 ('خاور', 83),
 ('سیستم', 83),
 ('خساپا', 78),
 ('وسپهر', 76),
 ('دماوند', 75),
 ('سمگا', 75),
 ('شلرد', 74),
 ('جم', 73),
 ('شپلی', 72),
 ('شتران', 71),
 ('توسعه', 69),
 ('خگستر', 67),
 ('کرمان', 66),
 ('غگل', 63),
 ('غنوش', 62),
 ('غبهنوش', 62),
 ('ذوب', 62),
 ('خودکفا', 60),
 ('فاذر', 59),
 ('لکما', 58),
 ('فرابورس', 58),
 ('وملی', 57),
 ('شگویا', 56),
 ('خزر', 55),
 ('بکام', 53),
 ('الماس', 53),
 ('حکشتی', 52),
 ('گدنا', 50),
 ('قاسم', 50),
 ('کارا', 49),
 ('زشگزا', 49),
 ('سرو', 48),
 ('قرن', 46),
 ('حفاری', 46),
 ('فاسمین', 46),
 ('وپارس', 44),
 ('سبزوا', 43),
 ('پخش', 41),
 ('وبملت', 41),
 ('زاگرس', 41),
 ('زدشت', 40),
 ('سجام', 40),
 ('بوعلی', 39),
 ('قثابت', 39),
 ('وسدید', 39),
 ('گشان', 38),
 ('وخارزم', 38),
 ('بپیوند', 38),
 ('نوین', 37),
 ('فاراک', 36),
 ('بکهنوج', 36),
 ('خزامیا', 36),
 ('وبصادر', 36),
 ('سیتا', 36),
 ('البرز', 36),
 ('غفارس', 35),
 ('پارس', 35),
 ('کالا', 35),
 ('سپرده', 34),
 ('چکاپا', 34),
 ('شیران', 33),
 ('ونیکی', 33),
 ('مدار', 33),
 ('افق', 32),
 ('کترام', 32),
 ('فروی', 32),
 ('پارسیان', 32),
 ('لپارس', 32),
 ('قصفها', 32),
 ('کیسون', 32),
 ('ثفارس', 31),
 ('شبندر', 31),
 ('مادیرا', 31),
 ('وشهر', 31),
 ('پیزد', 31),
 ('کیا', 31),
 ('کسرا', 31),
 ('خصدرا', 31),
 ('ثنوسا', 31),
 ('پیشرفت', 30),
 ('غصینو', 28),
 ('بموتو', 28),
 ('بهپاک', 28),
 ('تاپیکو', 28),
 ('وصنعت', 28),
 ('دارو', 28),
 ('شپترو', 28),
 ('زمگسا', 28),
 ('غمینو', 27),
 ('کفپارس', 27),
 ('خکاوه', 27),
 ('کماسه', 27),
 ('بجهرم', 27),
 ('تست', 27),
 ('ثاخت', 27),
 ('ثامید', 27),
 ('ستران', 27),
 ('امین', 26),
 ('شاروم', 26),
 ('غسالم', 25),
 ('خپارس', 25),
 ('رفاه', 23),
 ('کویر', 23),
 ('غمارگ', 23),
 ('غپینو', 23),
 ('کوثر', 23),
 ('سامان', 22),
 ('ثاصفا', 22),
 ('تپکو', 22),
 ('بالاس', 22),
 ('غشهداب', 22),
 ('ودی', 22),
 ('قنیشا', 22),
 ('شفا', 21),
 ('وگردش', 20),
 ('حسینا', 20),
 ('فسرب', 20),
 ('ثروت', 20)]

In [ ]:
fc=[]
with open('1.txt','r',encoding='utf-8') as f:
  fc=f.readlines()
stock=[]
for j in range(len(fc)):
  if fc[j]!='\n':
    stock.append(fc[j].replace('\n',''))

In [ ]:
#datalist=list(tweets_df)
postlist = tweets_df.values.tolist()
stcoklist_main = stocks_df.values.tolist()
stcoklist=[]
us = {}
for i in range(len(stcoklist_main)):
  stcoklist.append(stcoklist_main[i][0])
stcoklist = list(set(stcoklist))

us = {}
for i in range(len(stock)):
  us[stock[i]]=0

fulldata=[];cs=[]
for i in range(0,len(postlist)): #range(len(postlist)):
  if len(postlist[i][0])<150:
    words = str(postlist[i][0]).split(' ')
    ut = 0;
    for w in words:
      if w in stcoklist:
        ut += 1
    select_word=''
    if ut == 1:
      for w in words:
        if w in stock and us[w]!=60:
            us[w]= us[w] + 1
            select_word = w;
            cs.append(w);
    if select_word!='':
      fulldata.append((postlist[i][0],select_word))

In [ ]:
postlist

In [ ]:
def uniquex(text,stcoklist):
  words = text.split(' ')
  tf=0;fx='';vc=[]
  for i in range(len(words)):
    wd = str(words[i]).replace('#','')
    if wd in stcoklist:
      vc.append(wd)
  
  if len(list(set(vc)))>1:
    return False
  else:
    return True

In [ ]:
ta1 = pd.read_excel('/content/fulldataxx-arefi.xlsx')

In [ ]:
s1=ta1.values.tolist()

In [ ]:
us = {}
for i in range(len(stcoklist)):
  us[stcoklist[i]]=0

In [ ]:
newdata=[]
for i in range(len(fulldata)):
  tf=1;
  for j in range(len(s1)):
    ns1 = s1[j][0] ; ns2 = s1[j][1] ; ns3=s1[j][2];
    if fulldata[i][0]==ns2:
      tf=0
  if uniquex(fulldata[i][0],stcoklist)==True and tf==1:
    ns3 = fulldata[i][1]
    if ns3!= 'کارا' and ns3!= 'پیشرفت' and ns3!='سپرده'and ns3!= 'سامان' and ns3!='سپاس' and ns3!='پخش' and ns3!='پارسیان' : 
      us[ns3] = us[ns3] + 1
      newdata.append(fulldata[i])

In [ ]:
len(newdata)

2413

In [ ]:
bn=[];cn=[];dn=[]
for i in stcoklist:
  bn.append(i)
  cn.append(us[i])
  dn.append((i,us[i]))
sorted_list = sorted(dn, key=lambda x:x[1],reverse=True)
sorted_list

KeyError: ignored

In [ ]:
ns2

'#ثاخت رفت برا حمایت بعدی ۱۵۰ تومن😔اگه حمایتی باشه پول من رو که تموم کرد صاحب شرکت ثاخت فقط ببینم ما...د...ر..شو.......😡'

In [ ]:
df = pd.DataFrame(newdata)
df.to_csv('newdata.csv',encoding='utf-8-sig')

In [ ]:
df.to_pickle("newdata.pkl")

In [ ]:
len(stcoklist)

1561

In [ ]:
len(fulldata)

2421

In [ ]:
len(list(set(cs)))

654

In [ ]:
df = pd.DataFrame(fulldata)
df.head()

                                                   0      1
0                                          # بوعلی ۱  بوعلی
1        #برکت امروز هم حمید درخشان واکسن برکت رو زد   برکت
2  #داوه \nحمایت داوه در محدوده ی ۱۴۲۰۰﷼.\nسه شنب...   داوه
3  #برکت \nبالاخره افشا الف برکت روی کدال قرار گر...   برکت
4  به نظر من سقف تاریخی کرمان حباب نبوده و حقش بو...  کرمان

In [ ]:
df.to_csv('dataset.csv',encoding='utf-8-sig')

In [ ]:
df.to_pickle("dataset.pkl")

In [ ]:
load = pd.read_pickle("dataset.pkl")

# Convert labeled data to XML

## Prepare data

In [3]:
!unzip -o -q /content/social-media-sentiment-analysis-for-stocks/labeled_data.zip

In [43]:
df = pd.read_excel('/content/concat_v1.xlsx')
df.head()

   Unnamed: 0    0                                                  1      2  3
0           0  535  #پترول شرکت معظم پترول بالاخره تونست بعد 10 ما...  پترول  +
1           1    2  #برکت \nبالاخره افشا الف برکت روی کدال قرار گر...   برکت  +
2           2  538  این بنده خدا منتظر بود فملی برسه به ۶۵۰ تومان....   فملی  -
3           3    4  اومد دیگه \nاز ۱۰۰۰ تومن رفت ۱۴۰۰\n۴۰ درصد سود...   شستا  +
4           4    5  شما به اینا میگی منفی؟\nشپنا و شتران استارت بع...  شتران  +

In [44]:
df.drop(['Unnamed: 0', 0], axis=1, inplace=True)
df.columns = ['text', 'aspect', 'polarity']
df['polarity'] = df['polarity'].map({'+':'positive', '-':'negative', 0:'neutral'})
df.head()

                                                text aspect  polarity
0  #پترول شرکت معظم پترول بالاخره تونست بعد 10 ما...  پترول  positive
1  #برکت \nبالاخره افشا الف برکت روی کدال قرار گر...   برکت  positive
2  این بنده خدا منتظر بود فملی برسه به ۶۵۰ تومان....   فملی  negative
3  اومد دیگه \nاز ۱۰۰۰ تومن رفت ۱۴۰۰\n۴۰ درصد سود...   شستا  positive
4  شما به اینا میگی منفی؟\nشپنا و شتران استارت بع...  شتران  positive

## Partition data

We will shuffle the whole dataset first and then split our dataset into the following parts:

60% - train set

20% - validation set

20% - test set

In [90]:
train, validate, test =  np.split(df.sample(frac=1, random_state=42), [int(.6*len(df)), int(.8*len(df))])

## Convert data

In [110]:
def convert_dataframe_to_xml(df, file_name):
  xml_template = '''
  <?xml version="1.0" encoding="utf-8"?>
  <sentences>
  {}
  </sentences>
  '''
  sentence_template = '''
    <sentence>
      <text>{}</text>
      <aspectTerms>
      {}
      </aspectTerms>
    </sentence>
  '''
  aspect_template = '''
        <aspectTerm from="{}" polarity="{}" term="{}" to="{}"/>
  '''
  
  sentences_str = ''

  for row in df.itertuples():
    aspects = row.aspect.split(',')
    polarities = row.polarity.split(',')
    aspects_str = ''

    for i, aspect in enumerate(aspects): 
      from_ = row.text.find(row.aspect)
      to = from_ + len(aspect)
      aspect_str = aspect_template.format(from_, polarities[i], aspect, to)
      aspects_str += aspect_str

    sentence_str = sentence_template.format(row.text, aspects_str)
    sentences_str += sentence_str

  xml_str = xml_template.format(sentences_str)
  file = codecs.open(file_name + '.xml', 'w', 'utf-8')
  file.write(xml_str)
  file.close()

## Store converted data

In [112]:
convert_dataframe_to_xml(train, "train")
convert_dataframe_to_xml(validate, "val")
convert_dataframe_to_xml(test, "test")